<?xml version="1.0" encoding="UTF-8" ?>
    <widget xmlns   = "http://www.w3.org/ns/widgets"
        xmlns:gap   = "http://phonegap.com/ns/1.0"
        id          = "com.phonegap.sensordemo"
        versionCode = "10" 
        version     = "1.0.0" >

    <name>Barber shop finder app</name>

    <description>
        Find you local barber shop quick and easy.
    </description>

    <author email="salm2_16@uni.worc.ac.uk">
        Mantas Salasevicius
    </author>
	
	 <preference name="phonegap-version" value="cli-8.0.0" />
    <preference name="permissions" value="none" />
	  <access origin="*" />
    <plugin name="cordova-plugin-whitelist" spec="1.3.2" />
     <allow-intent href="http://*/*" />
     <allow-intent href="https://*/*" />
     <allow-intent href="tel:*" />
     <allow-intent href="sms:*" />
     <allow-intent href="mailto:*" />
     <allow-intent href="geo:*" />
   <plugin name="cordova-plugin-geolocation" />
</widget> 
